@import url("https://fonts.cdnfonts.com/css/verdana");

body {
  font-family: "Verdana", sans-serif;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: #d8e5f6;
}

header {
  width: 100%;
  height: 40px;
  background: linear-gradient(to bottom, #91b4d5, #538ac2);
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-around;
  padding: 0 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}
.menu {
  display: flex;
  gap: 15px;
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 12.5px;
  font-weight: bold;
}

.menu a {
  text-decoration: none;
  color: white;
  font-size: 14px;
}

header a:hover {
  text-decoration: underline;
}

.search-box {
  margin-left: auto;
  display: flex;
  align-items: center;
  background: white;
  padding: 3px;
  border-radius: 5px;
}

.search-box input {
  border: none;
  outline: none;
  padding: 5px;
  font-size: 14px;
}

.search-box button {
  background: none;
  border: none;
  cursor: pointer;
  color: #538ac2;
  font-weight: bold;
  padding: 5px;
}

.menu > img {
  width: 100px;
}

.menu2 {
  display: flex;
  gap: 15px;
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 12.5px;
  font-weight: bold;
}

#email {
  color: #173d69;
}

a {
  text-decoration: none;
  color: white;
}

.container {
  display: grid;
  grid-template-columns: 250px 1fr 250px; /* Define as 3 colunas */
  gap: 20px;
  max-width: 1100px;
  margin: 80px auto 20px; /* Adiciona margem para o header fixo */
  padding: 20px;
}

.sidebar {
  background: white;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.sidebar a:hover {
  text-decoration: underline;
}

#perfil-img {
  display: flex;
  height: 220px;
}

#name-perfil {
  font-size: 20px;
  font-weight: bold;
  color: #6780a0;
  margin-bottom: 0px;
}

#desc-perfil {
  font-size: 15px;
  color: gray;
}

.perfil-options > a {
  display: flex;
  margin-bottom: 5px;
  color: #8da8cc;
}

.perfil-infos {
  margin-bottom: 5px;
}

.perfil-infos > a {
  color: #8da8cc;
}

#perfil {
  margin-left: 3px;
  margin-right: 99px;
}

.apps {
  display: flex;
  flex-direction: column;
}

#add-app {
  margin-bottom: 20px;
}

.apps > a {
  margin-bottom: 5px;
  color : #8da8cc;
}

.main-content {
  background: white;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.sidebar-right {
  background: white;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

@media (max-width: 900px) {
  .container {
    grid-template-columns: 1fr; /* Em telas menores, fica 1 coluna */
  }
  .sidebar,
  .sidebar-right {
    display: none; /* Esconde as laterais em telas pequenas */
  }
}
